<div class="card my-5 w-100">
    <div class="card-body">
        <h1 class="card-title text-center">Lista de Usuários</h1>
        <button class="btn btn-success mb-4 float-end">Cadastrar Novo</button>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Profissão</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <td>1</td>
                <td>Victor</td>
                <td>29</td>
                <td>Desenvolvedor</td>
                <td>
                    <button type="button" class="btn btn-primary my-2">Primary</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger my-2">Danger</button>
                </td>
            </tbody>
        </table>
    </div>
</div>
