<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
    <a routerlink="/" class="navbar-brand">Cadastro de Usuários</a>
    <button class="navbar-toggler" type="button" data-target="#navbarSupportedContent">
        <span class="navbar-togller-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-iten">
                <a routerLink="/" class="nav-link">Usuarios</a>
            </li>
        </ul>
    </div>
</div>
</nav>
